<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="E-Commerce Automation Test Suite">
    <listeners>
        <listener class-name="utlis.SuiteListeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="E-Commerce Automation Test">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="Testcase.addProducts"/>
            <class name="Testcase.invalidLogin"/>
        </classes>
    </test>
</suite>